ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  height: 100vh;

  .bi {
    padding-right: 10px;
  }

  &__submenu {
    padding-left: 17px;

    .submenu-item {
      a {
        text-decoration: none;
        width: 100%;
      }
    }
  }
}
.sidebar-stick {
  background-color: orange;
  width: 200px;
  // height: 100%;
}
