.recipes {
  &__card {
    text-decoration: none;
  }

  &__time {
    padding-bottom: 10px;
    span {
      color: rgb(160, 104, 1);
      font-family: Poppins;
      font-size: 14px;

      .bi {
        color: black;
        padding-right: 5px;
      }
    }
  }

  &__title {
    color: black;
    font-family: Poppins;
  }
}
