.carousel {
  &__label {
    color: white;
    text-shadow: 0px 0px 20px #cccccc;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: bold;
  }

  .btn {
    background-color: orange;
    border: none;

    &:hover {
      background-color: rgb(236, 154, 0);
    }
  }

  &__label,
  &__button {
    position: relative;
    bottom: 400px;
  }
}
