.recipes {
  &__detail {
    .serves {
      span::before {
        content: "serves: ";
        text-transform: uppercase;
        color: rgb(175, 114, 0);
      }
    }

    .time {
      span::before {
        content: "cooks in: ";
        text-transform: uppercase;
        color: rgb(175, 114, 0);
      }
    }

    .difficulty {
      span::before {
        content: "difficulty: ";
        text-transform: uppercase;
        color: rgb(175, 114, 0);
      }
    }
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__ingredients,
  &__method {
    span {
      font-size: 2rem;
    }
  }

  &__save {
    .btn-primary {
      background-color: #fda65d;
      border: none;
      margin: 1rem 0;
    }

    &--button {
      height: 30px;
      display: inline-flex;
      margin: 10px 0;

      button {
        width: 70px;
        z-index: 1;
        color: white;
        border: none;
        background-color: #fda65d;
      }

      .icon {
        color: white;
        padding: 1px 8px;
        background-color: #cf864a;
        transform: translateX(-36px);
        transition: transform 0.5s ease-in-out;

        .bi {
          font-size: 20px;
        }
      }

      .saved {
        transform: translateX(0px);
      }
    }

    &--modal {
      position: absolute;
      border: 3px solid #fda65d;
      background-color: white;
      padding: 1rem;
      display: flex;
      align-items: center;
      white-space: pre-wrap;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
      opacity: 0;
      transform: translateY(-10px);
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

      a {
        color: #fda65d;
      }

      .close {
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;

        .bi {
          font-size: 25px;
          color: #fda65d;
        }
      }
    }

    .active {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .difficulty {
    text-transform: uppercase;
  }
}
